{% extends "base.html" %}

{% block content %}
<h1>{{ test.title }}</h1>
Выполненных работ: {{ completed_works }}
Выполняемых работ: {{ uncompleted_works }}
{% for item in test.questions %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        <big><b>Текст вопроса</b>: {{item.text}}</big>
    </div>
    <p></p>
    <div>
        <p>Категории: {{ categories_titles[loop.index0] }}</p>
        {% if (item.type_id == 3) or (item.type_id == 4) %}
            <p>Неверные варианты: {{ answers[loop.index0]['incorr'] }}</p>
        {% endif %}
        {% if item.type_id == 4 %}
            <p>Верный вариант: {{ answers[loop.index0]['corr'] }}</p>
        {% elif item.type_id == 3 %}
            <p>Верные варианты: {{ answers[loop.index0]['corr'] }}</p>
        {% else %}
            <p>Правильный ответ: {{ answers[loop.index0]['corr'] }}</p>
        {% endif %}
        <p>Баллов за верный ответ: {{ item.score }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}